
/* Path: assets/styles/main_app.css */
/* for className=home-link, make width 10% */
.home-link {
  width: 10%;
  background-color: #3d5865;  
  /*make it rounded*/
  border-radius: 8px;
  text-align: center;
}


/*do the above in css foramt*/
.main-title {
  text-align: center;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(66, 107, 138), rgba(0, 0, 0, 0));
  text-shadow: 10px 10px 10px #000000;
  height: 10vh;
}