
.home-link {
  width: 10%;
  background-color: #3d5865;  
  border-radius: 8px;
  text-align: center;
}



.main-title {
  text-align: center;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(42, 159, 214), rgba(0, 0, 0, 0));
  text-shadow: 10px 10px 10px #000000;
  height: 10vh;
}

.sub-title {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background: #2A9FD6;
  text-shadow: 10px 10px 10px #000000;
  margin-top: 30px;
  border-radius: 30px;
}

.main-sub-title {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background: #E2B616;
  text-shadow: 10px 10px 10px #000000;
  margin-top: 30px;
  border-radius: 30px;
}


#main-container {

  background-image: url('../imgs/bg.png');
  background-repeat: repeat;

}